<ion-header>
  <ion-toolbar color="light">
    <ion-title><ion-icon name="bag-check-outline"></ion-icon> Compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-card *ngFor="let item of compras; let i = index" (click)="openModal('editor', item)">
    <ion-grid>
      <ion-row>
        <ion-col  class="ion-align-self-center" size="1">
          <h6>{{i+1}}</h6>
        </ion-col>
        <ion-col class="ion-align-self-center" size="10">
          <ion-text>
            <ion-row>
              <ion-col>
                <ion-item class="ion-no-padding">
                  <ion-label class="ion-wrap">Nome: {{item?.nome}}</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item class="ion-no-padding">
                  <ion-label><ion-icon name="business-outline"></ion-icon> {{item?.fornecedor}}</ion-label>
                  <ion-label> <ion-icon name="calendar-number-outline"></ion-icon>  {{misc.formataDataBr(item?.data)}}</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <span>Total {{item?.total}}</span>
              </ion-col>
              <ion-col>
                <span>Itens: {{item?.quantidade}}und</span>
              </ion-col>
            </ion-row>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openModal('editor')" color="light">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

