<ion-app>
  <ion-router-outlet></ion-router-outlet>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="triangle"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="produtos">
        <ion-icon name="ellipse"></ion-icon>
        <ion-label>Produtos</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="vendas">
        <ion-icon name="square"></ion-icon>
        <ion-label>Vendas</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="compras">
        <ion-icon name="square"></ion-icon>
        <ion-label>Compras</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  
</ion-app>
